@font-face {
    font-family: 'icomoon';
    src:    url('/theme/fonts/icomoon.eot?fvrdbx');
    src:    url('/theme/fonts/icomoon.eot?fvrdbx#iefix') format('embedded-opentype'),
        url('/theme/fonts/icomoon.ttf?fvrdbx') format('truetype'),
        url('/theme/fonts/icomoon.woff?fvrdbx') format('woff'),
        url('/theme/fonts/icomoon.svg?fvrdbx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-udacity:before {
    margin-top: 10px;
    content: "\e900";
}
.icon-kaggle:before {
    content: "\e901";
}

